#theform {
	color: white;
	display: table;
	padding: 30px;
	background-color: #2C8F77;
	border: solid 2px black;
}

div.row {
	display: table-row;
}

.row label {
	display: table-cell;
	padding: 2px;
}

.row input {
	display: table-cell;
	padding: 2px;
}

#submit1 {
    position: relative;
        top: 20px;
        left: 150px;

    width: 125px;
    height: 35px;
    background-color: yellow;
    border-radius: 5px;
}

#submit2 {
    position: relative;
        top: 20px;
        left: 150px;

    width: 125px;
    height: 35px;
    background-color: yellow;
    border-radius: 5px;
}

/*
.div1 {
	width: 250px;
	height: 200px;
	float:left;
	padding:15px;
	margin:10px;
	background-color: blue;
	box-shadow: 3px 3px 3px 7px rgba(25,2,233,0.5); 
}

.div2 {
	width: 200px;
	height: 200px;
	float:left;
	padding:15px;
	margin:10px;
	background-color: blue;
	opacity: .5;	
}

.div2:hover {
	opacity: 1;
}

#div3 {
	width: 800px;
	height: 300px;
	float: left;
	background: blue;
	background: linear-gradient(orange, white, green);
	
}
*/



